[Unit]
Description=P4wnP1 Web UI
After=network-online.target
Wants=network-online.target

[Service]
WorkingDirectory=/opt/p4wnp1/webui
ExecStart=/usr/bin/env python3 /opt/p4wnp1/webui/server.py
Restart=always

[Install]
WantedBy=multi-user.target
