[Unit]
Description=Custom P4wnP1 Framework
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/p4wnp1
ExecStart=/opt/p4wnp1/run.sh
Restart=always
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
