[Unit]
Description=Prepare USB gadget prerequisites
DefaultDependencies=no
Before=basic.target

[Service]
Type=oneshot
ExecStart=/sbin/modprobe configfs
ExecStart=/bin/mount -t configfs none /sys/kernel/config
ExecStart=/sbin/modprobe dwc2
ExecStart=/sbin/modprobe libcomposite
RemainAfterExit=yes

[Install]
WantedBy=basic.target
