[Unit]
Description=P4wnP1-O2 Web UI
After=network.target

[Service]
Type=simple
Environment=P4WN_HOME=/opt/p4wnp1
WorkingDirectory=/opt/p4wnp1/webui
Environment=WEBUI_HOST=0.0.0.0
Environment=WEBUI_PORT=8000
# Environment=WEBUI_TOKEN=<optional>
ExecStart=/usr/bin/env python3 /opt/p4wnp1/webui/app.py
Restart=always

[Install]
WantedBy=multi-user.target
